@use "sass:meta";
@tailwind base;
@tailwind components;
@tailwind utilities;
@include meta.load-css("misc");

html {
  overflow: auto;
  scroll-behavior: initial;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.c-scrollbar {
  @apply m-1;
}

.c-scrollbar_thumb {
  left: 0;
  background-color: #fff;
}

.cursor--highlight {
  opacity: 0.2;
}