---
import Layout from 'layouts/Layout.astro';
import Hero from 'components/Hero.astro';
import About from 'components/About.astro';
import Testimonials from 'components/Testimonials.astro';
import Projects from 'components/Projects.astro';
import Contact from 'components/Contact.astro';
import StickyCTA from 'components/StickyCTA.astro';
---

<Layout title="Sickenberg Romain - Full-Stack Developer">
	<StickyCTA />
	<main class="min-h-screen overflow-hidden">
		<div class="inset-0 w-full h-full layer flex flex-col">
			<Hero />
			<About />
			<Testimonials />
			<Projects />
			<Contact />
		</div>
	</main>
</Layout>
