---
import Layout from 'layouts/Layout.astro';
import Hero from 'components/Hero.astro';
import About from 'components/About.astro';
import Projects from 'components/Projects.astro';
import Contact from 'components/Contact.astro';
---

<Layout title="Sickenberg Romain - Next">
	<main class="min-h-screen overflow-hidden">
		<div class="inset-0 w-full h-full layer flex flex-col bg-white dark:bg-black">
			<Hero />
			<About />
			<Projects />
			<Contact />
		</div>
	</main>
</Layout>
