---
import Layout from 'layouts/Layout.astro';
import Hero from 'components/Hero.astro';
import About from 'components/About.astro';
---

<Layout title="Sickenberg Romain - Next">
	<main class="min-h-screen overflow-auto">
		<div class="inset-0 w-full h-full layer">
			<Hero />
			<About />
		</div>
	</main>
</Layout>
