<section
    class="min-h-screen flex justify-center items-center"
    id="about-section"
    data-scroll
    data-scroll-offset="75%"
    data-scroll-id="about-section"
>
    <div class="grid grid-cols-1 sm:grid-cols-2 w-[90%] mx-auto gap-10"></div>

</section>