---
import Tech from "./Tech.astro";
import Profile from "./Profile.astro";
---

<!-- https://github.com/stylessh/stylessh-v2/blob/main/src/components/About.astro -->
<section class="min-h-screen flex justify-center items-center">
  <div class="grid grid-cols-1 lg:grid-cols-2 w-[90%] mx-auto gap-10">
    <article class="py-6 px-8 text-center sm:text-left">
      <h2 class="text-4xl dark:text-white text-black font-bold opacity-0 about">
        About me.
      </h2>
      <!-- Line -->
      <div
        class="h-16 w-0.5 bg-gray-700 dark:bg-gray-200 my-6 mx-auto md:m-6 line opacity-0"
      >
      </div>
      <div class="opacity-0 about-subtitle">
        <div class="text-black dark:text-white space-y-6">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porta
            porttitor lectus, at scelerisque massa ornare congue.
          </p>
          <p>
            Nunc purus lacus, venenatis at aliquet nec, maximus nec eros.
            Suspendisse sollicitudin ligula odio, molestie facilisis sem aliquet
            sed. Vivamus semper elit ac mollis consectetur.
          </p>
        </div>
      </div>
      <div class="opacity-0 mt-6 about-tech">
        <div class="text-black dark:text-white">
          <h3 class="text-xl">Here are my main technologies:</h3>
          <div class="mt-5">
            <Tech />
          </div>
        </div>
      </div>
    </article>
    <Profile />
  </div>
</section>
<script>
  import { gsap, ScrollTrigger } from "gsap/all";
  import { colors, alphaValues, isDarkMode } from "../utils/getColors";

  gsap.registerPlugin(ScrollTrigger);
  _initialize();

  window
    .matchMedia("(prefers-color-scheme: dark)")
    .addEventListener("change", () => {
      _setColors();
    });

  function _renderTo() {
    gsap.to(".about", {
      opacity: isDarkMode ? alphaValues.dark : alphaValues.light,
      ease: "power4.out",
      scrollTrigger: {
        trigger: ".about",
        start: "top 100%",
        scrub: 1,
      },
    });
    gsap.to(".line", {
      opacity: isDarkMode ? alphaValues.dark : alphaValues.light,
      ease: "power4.out",
      scrollTrigger: {
        trigger: ".about",
        start: "top 100%",
        scrub: 1,
      },
    });
    gsap.to(".about-subtitle", {
      opacity: isDarkMode ? alphaValues.dark : alphaValues.light,
      delay: 0.5,
      duration: 1,
      ease: "power4.out",
      scrollTrigger: {
        trigger: ".about",
        start: "top 100%",
        scrub: 1,
      },
    });
    gsap.to(".about-tech", {
      opacity: isDarkMode ? alphaValues.dark : alphaValues.light,
      delay: 0.7,
      duration: 1,
      ease: "power4.out",
      scrollTrigger: {
        trigger: ".about",
        start: "top 100%",
        scrub: 1,
      },
    });
  }

  function _initialize() {
    _setColors();

    gsap.set(".line", {
      opacity: 0,
    });
    gsap.set(".about", {
      opacity: 0,
    });
    gsap.set(".about-subtitle", {
      opacity: 0,
    });
    gsap.set(".about-tech", {
      opacity: 0,
    });

    _renderTo();
  }

  function _setColors() {
    gsap.set(".line", {
      color: isDarkMode ? colors.light : colors.dark,
      opacity: isDarkMode ? alphaValues.dark : alphaValues.light,
    });
    gsap.set(".about", {
      color: isDarkMode ? colors.light : colors.dark,
      opacity: isDarkMode ? alphaValues.dark : alphaValues.light,
    });
    gsap.set(".about-subtitle", {
      color: isDarkMode ? colors.light : colors.dark,
    });
    gsap.set(".about-tech", {
      color: isDarkMode ? colors.light : colors.dark,
    });
  }
</script>
