---
import {Icon} from 'astro-icon/components'

interface IContactMedium {
    href: string,
    iconName: string,
    class?: string,
    iconClass?: string,
    iconSize?: number,
}

const baseContactClass = "mx-auto mt-8 rounded-xl outline outline-1 hover:outline-2 outline-gray-800 dark:outline-gray-200 py-4 px-8";
const baseIconClass = "gray-800 dark:gray-100";
const baseIconSize = 45;

const contactMediums: IContactMedium[] = [
    {
        href: "mailto:r.sickenberg@gmail.com",
        iconName: "arcticons:mail",
    },
    {
        href: "https://github.com/RSickenberg",
        iconName: "arcticons:github",
    },
    {
        href: "https://www.linkedin.com/in/romain-sickenberg",
        iconName: "arcticons:linkedin",
    },
    {
        href: "https://twitter.com/haux49",
        iconName: "arcticons:x-twitter",
    },
    {
        href: "/assets/pdf/onepage.pdf",
        iconName: "arcticons:document-viewer",
    },
];
---

<section class="flex items-center justify-center min-h-screen">
    <div class="grid grid-flow-col w-[90%] mx-auto gap-10">
        <article class="px-8 py-6">
            <h2 class="text-4xl font-bold text-center text-black opacity-0 md:text-left dark:text-white contact-me">Say Hello!</h2>
            <!-- Line -->
            <div class="h-16 w-0.5 bg-gray-700 dark:bg-gray-200 my-8 mx-auto md:m-6 line opacity-0"/>
            <div class="opacity-0 contact-me-methods">
                <p class="mb-8 text-center md:text-xl sm:text-justify">
                    Here are few ways to learn more about me!<br> If you have a project, an idea or a coffee to share, be
                    free to contact me!<br><br>
                    I'll try my best to make it <a
                        class="underline decoration-2 decoration-gray-500 dark:decoration-gray-200">for you</a>.
                </p>

                <div class={'grid grid-flow-row grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-3 md:gap-4'}>
                    {contactMediums.map((medium => {
                        return <a href={medium.href} class={medium.class ?? baseContactClass}>
                            <Icon name={medium.iconName} size={medium.iconSize ?? baseIconSize}
                                  class={medium.iconClass ?? baseIconClass}/>
                        </a>
                    }))}
                </div>
            </div>
        </article>
    </div>
</section>

<script>
    import {gsap, ScrollTrigger} from "gsap/all";
    import {colors, alphaValues, isDarkMode} from "../utils/getColors";

    gsap.registerPlugin(ScrollTrigger);

    _initialize();

    window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", () => {
            _setColors();
        })

    function _initialize() {
        _setColors();
        gsap.set(".line", {
            opacity: 0
        });
        gsap.set(".contact-me", {
            opacity: 0
        });
        gsap.set(".contact-me-methods", {
            opacity: 0
        });

        _renderTo();
    }

    function _renderTo() {
        gsap.to(".contact-me", {
            opacity: isDarkMode ? alphaValues.dark : alphaValues.light,
            ease: "power4.out",
            scrollTrigger: {
                trigger: ".contact-me",
                start: "top 100%",
                scrub: 1,
            }
        });
        gsap.to(".line", {
            opacity: isDarkMode ? alphaValues.dark : alphaValues.light,
            ease: "power4.out",
            scrollTrigger: {
                trigger: ".contact-me",
                start: "top 100%",
                scrub: 1,
            }
        });
        gsap.to(".contact-me-methods", {
            opacity: isDarkMode ? alphaValues.dark : alphaValues.light,
            ease: "power4.out",
            scrollTrigger: {
                trigger: ".contact-me-methods",
                start: "top 90%",
                scrub: 2,
            }
        })
    }

    function _setColors() {
        gsap.set(".line", {
            color: isDarkMode ? colors.light : colors.dark,
            opacity: isDarkMode ? alphaValues.dark : alphaValues.light,
        });
        gsap.set(".contact-me", {
            color: isDarkMode ? colors.light : colors.dark,
            opacity: isDarkMode ? alphaValues.dark : alphaValues.light,
        });
        gsap.set(".contact-me-methods", {
            color: isDarkMode ? colors.light : colors.dark,
            opacity: isDarkMode ? alphaValues.dark : alphaValues.light,
        });
    }
</script>