<section
        class="min-h-screen flex flex-col justify-start sm:justify-center w-[90%] mx-auto pt-24 sm:pt-10 sm:pr-80 relative">
    <h1 class="text-6xl sm:text-[8vw] text-black dark:text-white font-extrabold leading-relaxed sm:leading-tight slogan relative opacity-0">
        Romain Sickenberg. Backend Developer.</h1>
    <div class='cta opacity-0 sm:mt-5 mb-16 sm:mb-0'>
        <div class='scroll'></div>
    </div>
</section>

<script>
	import { gsap, ScrollTrigger } from "gsap/all";
	import { colors, alphaValues, isDarkMode } from "../utils/getColors";
	gsap.registerPlugin(ScrollTrigger);

	_initializeAnimations();

	function _initializeAnimations() {
		_setColors();
		_splitTextIntoSpans();
		_buildGSAPAnimations();
		_addEventListeners();
	}

	function _setColors() {
		const colorValue = isDarkMode ? colors.light : colors.dark;
		const opacityValue = isDarkMode ? alphaValues.dark : alphaValues.light;
		gsap.set([".slogan", ".cta"], { color: colorValue, opacity: opacityValue });
	}

	function _splitTextIntoSpans() {
		const title = document.querySelector(".slogan");
		const letters = title.textContent.split("");
		title.textContent = "";
		letters.forEach((letter) => {
			const span = document.createElement("span");
			span.textContent = letter;
			span.classList.add("letter");
			title.append(span);
		});
	}

	function _buildGSAPAnimations() {
		gsap.from(".slogan", {
			y: 100,
			opacity: 0,
			duration: 1,
			delay: 1,
			ease: "power4.out",
		});

		gsap.to(".slogan", {
			opacity: isDarkMode ? alphaValues.dark : alphaValues.light,
			duration: 1,
			delay: 1,
			ease: "power4.out",
		});

		const tl = gsap.timeline({ smoothChildTiming: true });
		tl.set('.cta', { opacity: 0, autoAlpha: 1 }, 0)
			.to('.cta', {
				opacity: 1,
				duration: 2,
				ease: 'elastic',
				delay: 3
			});

		ScrollTrigger.create({
			trigger: '.slogan',
			start: 'bottom top',
			endTrigger: '.about',
			scrub: true,
			once: true,
			onEnter: () => {
				gsap.to('.cta', {
					opacity: 0,
					duration: 1,
					ease: 'power1.inOut'
				});
			}
		});

		if (window.navigator.maxTouchPoints > 1) {
			tl.to(".slogan", {
				y: '+=25',
				scrollTrigger: {
					trigger: '.cta',
					start: 'bottom top',
					endTrigger: '.about',
					scrub: 1,
					once: true,
				}
			}, 0);
		}
	}

	function _addEventListeners() {
		const lettersSpans = document.querySelectorAll(".letter");
		window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", () => {
			lettersSpans.forEach((span) => {
				span.removeAttribute("style");
			});
			_setColors();
		});

		lettersSpans.forEach((span) => {
			span.addEventListener("mouseenter", (e) => {
				gsap.to(e.target, {
					duration: 0.5,
					color: isDarkMode ? colors.dark : colors.light,
					backgroundColor: isDarkMode ? colors.light : colors.dark,
					ease: "power4.out",
				});
			});

			span.addEventListener("mouseleave", (e) => {
				gsap.to(e.target, {
					duration: 0.5,
					color: isDarkMode ? colors.light : colors.dark,
					backgroundColor: "transparent",
					ease: "power4.out",
					delay: 0.5,
				});
			});
		});
	}
</script>