---
import Logo from "ui/Logo.astro";
---

<nav
  id="navbar"
  class="absolute z-50 w-[90%] mx-auto top-0 left-0 right-0 py-4 flex items-center justify-between opacity-0"
>
  <div class="flex items-center group title">
    <Logo />
    <p
      class="dark:text-white text-black font-bold text-2xl -ml-2 translate-y-4 opacity-0 select-none dark:group-hover:opacity-80 group-hover:opacity-50 group-hover:translate-y-0 transition"
    >
      RSickenberg
    </p>
  </div>
</nav>
