---
import Logo from "ui/Logo.astro";
---

<nav
  class="absolute z-50 w-[90%] mx-auto top-0 left-0 right-0 py-4 flex items-center justify-between"
>
  <div class="flex items-center group title">
    <Logo />
    <p class="dark:text-white text-black font-bold text-2xl -ml-2 translate-y-4 opacity-0 select-none dark:group-hover:opacity-80 group-hover:opacity-50 group-hover:translate-y-0 transition">RSickenberg</p>
  </div>

  <div class="flex items-center space-x-6 text-sm md:text-base">

    <span class="currentSection"></span>
  </div>
</nav>

<script>
  import { getState, subscribe } from "utils/getCurrentSection";

  const curentSection = document.querySelector(".currentSection");

  const setCurrentSection = (section: string) => {
    curentSection.innerHTML = section;
  };

  const initialState = getState();

  setCurrentSection(initialState.activeSection);

  subscribe((state) => {
    setCurrentSection(state.activeSection);
  });
</script>