---
import { Picture } from "@astrojs/image/components";
---

<article class="flex justify-center lg:justify-end items-center relative mt-10">
  <Picture
    src={"/images/profile/antistatique_romain-31-web.jpg"}
    widths={[400, 800, 1200]}
    aspectRatio={0.666}
    formats={["webp"]}
    id={"picture"}
    loading={"lazy"}
    decoding={"async"}
    alt="Romain, a developer."
    class={"w-[400px] 2xl:w-[600px] aspect-[600/901] block relative shadow-md object-cover select-none pointer-events-none rounded-xl mt-5 will-change-[opacity,transform]"}
  />
  <div
    id="picture-bg-border"
    class="will-change-[opacity,transform] lg:mt-0 absolute w-[380px] sm:w-[450px] 2xl:w-[650px] aspect-square rounded-2xl bg-transparent border-2 border-black dark:border-white top-[55%] lg:-right-[35%] transform lg:-translate-x-1/2 lg:-translate-y-1/2 z-[-1]"
  >
  </div>
</article>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { isMinimalWidth, isMd, isSm, isXl } from "../utils/getColors";
  gsap.registerPlugin(ScrollTrigger);

  // Make the picture fade in and out.
  gsap.set("#picture", { opacity: 0 });
  gsap.set("#picture-bg-border", { opacity: 0 });

  let getXDisplacement = () => {
    if (isXl) {
      return -100;
    } else if (isMinimalWidth && !isMd) {
      return -80;
    } else if (isMd && !isSm) {
      return 45;
    } else {
      return 0;
    }
  };

  let getYDisplacement = () => {
    if (isMinimalWidth) {
      return -350;
    } else if (isMd && !isSm) {
      return -120;
    } else {
      return -320;
    }
  };

  gsap.to("#picture", {
    scrollTrigger: {
      trigger: "#picture",
      start: "top 100%",
      end: "bottom 100%",
      scrub: 1,
      toggleActions: "play none none reverse",
      invalidateOnRefresh: true,
      preventOverlaps: "picture"
    },
    opacity: 1,
    delay: 0.2,
    duration: 0.2,
    y: -100,
    ease: "power3.out",
  });
  gsap.to("#picture-bg-border", {
    scrollTrigger: {
      trigger: "#picture",
      start: "top 100%",
      end: "bottom 70%",
      scrub: 2,
      toggleActions: "play none none reverse",
      invalidateOnRefresh: true,
      preventOverlaps: "picture-bg"
    },
    opacity: 1,
    delay: 0.2,
    duration: 0.8,
    y: getYDisplacement(),
    x: getXDisplacement(),
    //ease: "power1.out",
  });
</script>
