---
import ProjectList from "../ui/ProjectList";
---

<section class="min-h-screen overflow-hidden pt-10" id="projects">
    <header class="md:my-12 text-center">
        <h2 class="text-black dark:text-white text-2xl font-extrabold project-title opacity-0">
            Highlighted projects.
        </h2>
        <div class="h-16 w-0.5 dark:bg-gray-200 bg-gray-700 m-6 mx-auto opacity-0 project-line" />
    </header>
    <ProjectList client:visible/>
</section>

<script>
    import { gsap, ScrollTrigger } from "gsap/all";
        import { colors, alphaValues, isDarkMode } from "../utils/getColors";
        gsap.registerPlugin(ScrollTrigger);

        function _init() {
            _setColors();
            gsap.set([".project-title", ".project-line", "#projects-list"], { opacity: 0 });
            _renderTo();
            }

        function _renderTo() {
            let tl = gsap.timeline({
                scrollTrigger: {
                    trigger: "#testimonials",
                    start: "top",
                    end: "bottom 10%",
                    scrub: 1,
                    }
                });

            tl.to(".project-title", {
                duration: 1,
                ease: "power4.inOut",
                opacity: 1,
                })
                .to(".project-line", {
                duration: 1.2,
                ease: "power4.inOut",
                opacity: 1,
                })
                .to("#projects-list", {
                duration: 1.3,
                ease: "power4.inOut",
                opacity: 1,
                });
            }

        function _setColors() {
            gsap.set(".project-line", {
                color: isDarkMode ? colors.light : colors.dark,
                opacity: isDarkMode ? alphaValues.dark : alphaValues.light,
                });
            gsap.set(".project-title", {
                color: isDarkMode ? colors.light : colors.dark,
                opacity: isDarkMode ? alphaValues.dark : alphaValues.light,
                });
            gsap.set("#projects-list", {
                color: isDarkMode ? colors.light : colors.dark,
                opacity: isDarkMode ? alphaValues.dark : alphaValues.light,
                });
            }

        _init();
        window
            .matchMedia("(prefers-color-scheme: dark)")
            .addEventListener("change", () => {
                _setColors();
            });
</script>
