---
import {getImage} from "astro:assets";
import ProjectList from "../ui/ProjectList";
import projects from "../data/projects.json";
const images = import.meta.glob('/src/assets/projects/**/*.{png,jpg}')

let optimizedImages = [];
for await (const project of projects) {
    optimizedImages[project.id] = await getImage({
        src: images[project.media](),
        width: project.mediaSizes.width,
        height: project.mediaSizes.height,
        densities: [0.5, 1, 2],
        format: "webp"
    });
}
---

<section class="flex flex-col items-center justify-center min-h-screen md:min-h-fit overflow-hidden pt-20 md:pt-0"
         id="projects">
    <div class="grid grid-flow-col w-[90%] mx-auto gap-10 py-6 px-8">
        <header class="md:my-12 text-center md:text-left">
            <div class="text-black dark:text-white project-title opacity-0">
                <h2 class="text-4xl font-bold sm:font-extrabold">Highlighted projects.</h2>
                <h5 class="font-light sm:font-thin mt-3">Among other cool things.</h5>
            </div>
            <div class="h-16 w-0.5 bg-gray-700 dark:bg-gray-200 my-8 mx-auto md:m-6 project-line opacity-0"></div>
        </header>
    </div>
    <ProjectList client:visible={{rootMargin: '200px'}} optimizedImages={optimizedImages}/>
</section>

<script>
    import {gsap, ScrollTrigger} from "gsap/all";
    import {colors, alphaValues, isDarkMode} from "../utils/getColors";

    gsap.registerPlugin(ScrollTrigger);

    function _init() {
        _setColors();
        gsap.set([".project-title", ".project-line", "#projects-list"], {opacity: 0});
        _renderTo();
    }

    function _renderTo() {
        let tl = gsap.timeline({
            scrollTrigger: {
                trigger: "#testimonials",
                start: "top",
                end: "bottom 20%",
                scrub: 1,
            }
        });
        tl.to(".project-title", {
            duration: 1,
            ease: "power4.inOut",
            opacity: 1,
        })
        .to(".project-line", {
            duration: 1.2,
            ease: "power4.inOut",
            opacity: 1,
        })
        .to("#projects-list", {
            duration: 1.3,
            ease: "power4.inOut",
            opacity: 1,
        });
    }

    function _setColors() {
        gsap.set(".project-line", {
            color: isDarkMode ? colors.light : colors.dark,
            opacity: isDarkMode ? alphaValues.dark : alphaValues.light,
        });
        gsap.set(".project-title", {
            color: isDarkMode ? colors.light : colors.dark,
            opacity: isDarkMode ? alphaValues.dark : alphaValues.light,
        });
        gsap.set("#projects-list", {
            color: isDarkMode ? colors.light : colors.dark,
            opacity: isDarkMode ? alphaValues.dark : alphaValues.light,
        });
    }

    _init();
    window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", () => {
            _setColors();
        });
</script>
