---
import {Icon} from 'astro-icon/components'
---
<div id="sticky-banner" tabindex="-1"
     class="opacity-0 fixed top-0 start-0 z-50 flex justify-between w-full p-4 border-b-2 border-gray-50 bg-gray-50/80 dark:bg-gray-700/80 dark:border-gray-600 backdrop-blur-md drop-shadow-sm">
    <div class="flex items-center mx-auto">
        <p class="flex items-center text-md font-medium text-gray-800 dark:text-white">
            <span class="inline-flex p-1 me-3 bg-gray-200 rounded-full dark:bg-gray-600 w-7 h-7 items-center justify-center flex-shrink-0">
                <Icon name="ph:megaphone"/>
                <span class="sr-only">Megaphone</span>
            </span>
            <span>Available to hire. <a href="https://www.linkedin.com/in/a320rsck/"
                                        class="inline font-bold text-sky-600 underline dark:text-sky-500 underline-offset-2 decoration-sky-600 dark:decoration-500 decoration-solid hover:no-underline">Contact me on Linkedin.</a></span>
        </p>
    </div>
    <div class="flex items-center">
        <button data-dismiss-target="#sticky-banner" type="button"
                class="flex-shrink-0 inline-flex justify-center w-7 h-7 items-center text-gray-400 hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 dark:hover:bg-gray-600 dark:hover:text-white">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
            <span class="sr-only">Close banner</span>
        </button>
    </div>
</div>

<script>
    import {Dismiss} from 'flowbite'
    import {gsap} from "gsap/all";

    _initialize();

    function _initialize() {
        gsap.from('#sticky-banner', {
            opacity: 0,
            duration: 1,
            delay: 2,
            ease: "power4.out",
        })

        _renderTo();
    };

    function _renderTo() {
      gsap.to('#sticky-banner', {
          opacity: 1,
          ease: "power4.out",
          delay: 2,
          duration: 1
      })
    }
</script>