---
import techs from '../data/techs.json';
import Card from './CardTech.astro';
---
<div class="grid grid-flow-row grid-cols-2 2xl:grid-cols-4 gap-4 2xl:gap-10 mb-10">
    {techs.sort((a, b) => a.order - b.order).map(tech => (
        <Card tech={tech} data-tech={tech} />
    ))}
</div>