---
import Navbar from "components/Navbar.astro";
import "locomotive-scroll/dist/locomotive-scroll.css";
import "styles/global.scss";

export interface Props {
  title: string;
  description?: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#fff" />
    <title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="dark:bg-black bg-white">
    <Navbar />

    <div class="container">
      <slot />
    </div>
  </body>
</html>

<style is:global lang="scss">
      canvas {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;
        pointer-events: none;
      }
</style>

<script>
  import LocomotiveScroll from "locomotive-scroll";
  import { setState, getState } from "utils/getCurrentSection";

  const scroll = new LocomotiveScroll({
    el: document.querySelector(".container"),
    smooth: true,
    lerp: 0.05,
    multiplier: 0.5,
    smartphone: {
      smooth: true,
      direction: "vertical",
    },
    tablet: {
      smooth: true,
      direction: "vertical",
    },
  });

  const sections = ["", "about"];
  window["locomotiveScroll"] = scroll;
  scroll.start();
  scroll.on("scroll", (args) => {
    sections.forEach((sect) => {
      const container = args.currentElements[sect];
      const exists = typeof container != "undefined";
      if (exists && container.inView && getState().activeSection != sect)
        setState({ activeSection: sect ? `${sect}.` : "" });
    });
    scroll.on('call', (func) => {
      // tslint:disable-next-line: Type 'string[]' cannot be used as an index type.
      window[func]();
    })
  });
</script>
